.akirachix-img {
  width: 760px;
  margin-right: 10%;
}

.landing-page {
  display: flex;
}
.navbar {
  padding: 32px;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
}
a {
  text-decoration: none;
  color: #fff;
  padding: 16px;
  font-size: 30px;
}
.logo-image {
  width: 70px;
}
.akirachix-history {
  padding: 32px;
  border-radius: 13px;
  width: 580px;
  font-size: 30px;
  color: antiquewhite;

}

.landing-page-content {
  margin-left: 15%;
  padding: 32px;
}
body {
  background-color: #bd86d2;
}
h1{
  font-size:60px;
  color:#fff
}
h3{
  font-size:30px;
  color:#fff
}