form {
    display: flex;
    flex-direction: column;
    padding-left: 370px;
  }
  .sign-up-container {
    display: flex;
    flex-direction: column;
  }
  .container {
    padding-left:300px ;
    padding-right:300px ;
  }
  input {
    width: 500px;
    height: 30px;
    border: 2px solid purple;
  }
  .submit {
    margin: 3%;
    padding:  8px;
    background-color: #673147;
    color: #fff;
    font-size: 18px;
   
  }
  input .submit{
    padding-right: 200px;
  }
  h1 {
    color: #bd86d2;
  }
  a {
    text-decoration: none;
    color: #000;
  }
  body {
    font-size: 30px;
    background-color: #d3c2cf;
  }
  .form-container {
    margin-left: 20%;
  }
  
  a {
    color: #fff;
  }
  .login {
    text-align: center;
    margin-right: 270px;
  
  }
  @media only screen and (min-width: 280px) and (max-width: 600px) {
    input {
      width: 250px;
      height: 30px;
      border: 2px solid purple;
    }
  }
  