body {
  background-color: #bd86d2;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
}
a {
  text-decoration: none;
  color: #fff;
  padding: 16px;
  font-size: 30px;
}
.mentor-img {
  margin-left: 30%;
  border-radius: 50%;
}
.landing-page {
  display: flex;
}
.landing-page-content{
  margin-left: 15%;
  font-size: 30px;
}
label{
  color:#fff

}
.name{
  color:#fff
}
