.trevor {
  padding-left: 850px;
}
.page-content {
  padding: 42px;
  font-size: 20px;
  padding-left: 160px;
  padding-right: 160px;
  background-color: #5B7B7A;
  color: #fff;

}h4{
    text-align: center;
    font-size: 30px;
}


@media only screen and (min-width: 280px) and (max-width: 600px) {
  .trevor {
    padding-left: 10px;
  }
  .page-content {
    padding: 12px;
  }
}
